* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Roboto",Sans-serif;
  box-sizing: border-box;
  transition: width 0.3s, height 0.3s, padding 0.3s, background-color 0.3s ease, transform 0.3s;
}

hr {
  margin: 0 0.25rem;
  border: 1px solid rgb(175, 175, 175);
  border-radius: 50%;
  background-color: rgb(175, 175, 175);
}

#sirenSound {
  padding: 0.5rem 5.9rem;
  width: 16rem;
  text-align: center;
  cursor: pointer;
  border-radius: 1rem 1rem 0 0;
  text-align: center;
}

#sirenSound:active {
  background-color: rgba(0, 47, 255, 0.596);
}

button {
  background-color: rgba(0, 0, 0, 0);
}

.roundButton {
  box-shadow: 2px 2px 3px rgb(105, 105, 105);
  cursor: pointer;
}

.roundButton:active {
  box-shadow: 1px 1px 2px rgb(105, 105, 105);
}

body {
  top: 0px;
  width: 100%;
  background: rgb(252, 249, 251);
}

.invisible {
  height: 0;
  max-height: 0;
  width: 0;
  max-width: 0;
  visibility: hidden;
  margin: 0;
  position: fixed;
  z-index: -1;
}

.top {top:0}
.bottom {bottom:0}
.left {left:0}
.right {right:0}

.inline {display: inline;}
.dis-flx {display: flex;}

.pos-abs {position: absolute;}
.pos-rel {position: relative;}
.pos-fix {position: fixed;}



.ml-auto {margin-left: auto;}
.mr-auto {margin-right: auto;}

main {
  min-height: calc(100vh - 3.5em);
  max-height: calc(100vh - 3.5em);
  overflow: auto;
}

#title {
  visibility: hidden;
}

#addRemoveDeviceScreen {
  background-color: #0000007c;
  z-index: 2000;
  align-items: center;
  justify-content: center;
}

#addRemoveAbortButton {
  padding: 0.5rem 3rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 3px rgb(0, 34, 63);
}

#addRemoveAbortButton:active {
  padding: 0.5rem 3rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 2px rgb(0, 0, 0);
  background-color: rgba(0, 47, 255, 0.596);
}

#addRemoveSearchingBox {
  width: 80vw;
  height: 80vw;
  background-color: white;
  border-radius: 3rem;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  line-height: normal;
}

#addRemoveSearchingBox h2, #addRemoveSearchingBox h3 {
  min-width: 100%;
}

header  {
  top: 0;
  background-color: white;
  text-align: center;
  height: 3.5em;
  line-height: 3.5em;
  vertical-align: middle;
  color: #61116a;
}

#headerLeft {
  float: left;
  display: flex;
}

#headerRight {
  float: right;
  display: flex;
  width: min-content;
  line-height: 100%;
  height: 100%;
}

#menuButton {
  width: 2.5em;
  cursor: pointer;
  margin: 0.5em 1em;
  padding: 0.25em;
  height: 2.5em;
  vertical-align: middle;
  filter: invert(34%) sepia(1%) saturate(698%) hue-rotate(88deg) brightness(112%) contrast(99%);
}

#menuButton:hover {
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
}

#menuButton:active {
  background-color: rgb(233, 233, 233);
  border-radius: 100%;
}

#logo {
  height: 3em;
  margin: 0.25em;
}

#menuOptions a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 2.5em;
  text-decoration: none;
}

#menuOptions li {
  width: 100%;
  min-height: 2.5em;
}

.navLinkActiveIcon {
  filter: invert(15%) sepia(35%) saturate(4276%) hue-rotate(275deg) brightness(96%) contrast(108%);
}

#menuOptions img {
  vertical-align: middle;
  width: 1.5em;
  margin-right: 1.5em;
  margin-left: 1.5em;
}

.navLinkInactive img {
  /*https://codepen.io/sosuke/pen/Pjoqqp*/
  filter: invert(34%) sepia(1%) saturate(698%) hue-rotate(88deg) brightness(112%) contrast(99%);
}

.navLinkActive img {
  filter: invert(15%) sepia(35%) saturate(4276%) hue-rotate(275deg) brightness(96%) contrast(108%);
}

h4 {
  color: #606060;
  font-size: 1rem;
  font-style: normal;
  text-align: center;
  width: 100%;
}

.navLinkActive h4 {
  color: black;
}

.navLinkActive {
  background-color:  rgb(210, 210, 210);
}

nav li:hover { 
  background-color:  rgb(233, 233, 233);
}

nav li:active { 
  background-color:  rgb(187, 187, 187);
}

#sideSpacer {
  visibility: hidden;
}

#menu  {
  list-style-type: none;
  position: fixed;
  background-color: white;
  float: left;
  min-height: calc(100vh - 3.5em);
  max-height: calc(100vh - 3.5em);
  z-index: 1000;
  width: 15em;
}

#menu h4 {
  display: inline;
}

.closed {
  transform: translate(-15em, 0);
}

.block {
  width: 100vw;
  height: calc(100vh - 3.5em);
  z-index: 750;
  background-color: #60606027;
  position: fixed;
}

#AddDevice {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

#AddRoom {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}


.device {
  margin: 0.5rem 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  box-shadow: 1px 1px 2px #888888;
  background-color: white;
  display: block;
}

.device:hover {
  
  box-shadow: 2px 2px 2px #888888;
}

.deviceTitle {
  padding: 0 1rem;
  font-size: 150%;
}

.deviceHeader {
  align-items: center;
}

.deviceFooter {
  justify-content: space-between;
  align-items: baseline;
}

.deviceContent {
  text-align: center;
}

.controls {
  display: inline-block;
  box-shadow: 1px 1px 2px #888888;
  border-radius: 1rem;
  width: fit-content;
  text-align: center;
}

.power {
  padding: 0.5rem 3rem;
  width: 8rem;
  text-align: center;
  cursor: pointer;
}

.powerOn {
  border-radius: 1rem 0 0 1rem;
}

.powerOff {
  border-radius: 0 1rem 1rem 0;
}

[id="0"] .powerOn {
  border-radius: 0 0 0 1rem;
}

[id="0"] .powerOff {
  border-radius: 0 0 1rem 0;
}

.powerOn:active {
  background-color: #00ff0055;
}

.powerOff:active {
  background-color: #ff000055;
}

.vl {
  min-width: 1px;
  min-height: 100%;
  border: 1px solid rgb(175, 175, 175);
  border-radius: 50%;
  background-color: rgb(175, 175, 175);
  display: inline;
}

.deviceLeft {
  float: left;
  height: inherit;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {display: inline-block;}

.device {
  width: -webkit-fill-available;
  position: relative;
}

.neutralIcon {
  background-color: #F06EBF;
  border-radius: 100%;
}

.dangerIcon {
  background-color: red;
  border-radius: 100%;
}

.positiveIcon {
  background-color: limegreen;
}

.largeIcon {
  width: 3.75rem;
  height: 3.75rem;
  padding: 0.25em;
  border-radius: 100%;
}

.smallIcon {
  border-radius: 100%;
  height: 50px;
  width: 50px;
  padding: 0.25rem;
}

.deviceRight {
  float: right;
  height: 100%;
  position: relative;
}

.deviceRight img {
  position: absolute;
  bottom: 0;
}

.pr-main{padding-right: 0;}
.pl-main{padding-left: 0;}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .pad-main-2{padding: 0;}
  .pad-main-1{padding: 0;}

  #title {
    visibility: visible;
  }

  .expanded {
    width: 15em;
  }

  .expanded h4 {
    display: inline;
  }

  

  #addRemoveSearchingBox {
    width: 18rem;
    height: 18rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .pad-main-2{padding: 0 calc(100% / 15);}
  .pad-main-1{padding: 0;}

  .block {
    width: 0;
    height: 0;
    z-index: -1;
    background-color: #60606000;
    position: fixed;
    visibility: hidden;
  }

  #menu {
    position: initial;
  }

  .expanded {
    width: 15em;
  }

  .expanded h4 {
    display: inline;
  }

  .closed {
    width:0 !important;
    position: fixed;
  }

  #addRemoveSearchingBox {
    width: 19rem;
    height: 19rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .pad-main-2{padding: 0 calc(100% / 9);}
  .pad-main-1{padding: 0 calc(100% / 18);}

  .expanded {
    width: 15em !important;
  }

  .expanded h4 {
    display: inline;
  }

  .closed {
    transform: unset;
    width: 4.5em !important;
    visibility: initial;
  }

  .closed h4 {
    display:block !important;
  }

  #menu {
    position: initial;
    width: 4.5em;
  }

  #addRemoveSearchingBox {
    width: 20rem;
    height: 20rem;
  }
}