

#list, #group {
    float: left;
    height: 400px;
    width: 300px;
    margin-top: 50px;
    margin-left: 50px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 5px rgba(236, 235, 235, 0.616);
}

.titles{
    background: rgb(214, 232, 238);
    border-radius: 5px 5px 0 0;
    padding: 5px;
    background-image: linear-gradient(to right, rgb(214, 232, 238), #D1D5E9);
}

#group {
    margin-left: 40px;
}

#search {
    margin-left: 50px;
}

