

.inner-container {
    margin-top: 2em;
    margin-left: 20px;
    --blue_theme: #70a1ff;;
    border:2px solid var(--blue_theme);
    width: 600px;
}
.header {
    
    text-align: center;
    padding: 5px;
    margin-bottom: 17px;
    font-family: Oxygen, sans-serif;
    font-size: 20px;
    border-bottom: 2px solid var(--blue_theme);
}

.box {
  
    text-align: center;
}

.input-group {
   
    margin-top: 5px;
    margin-bottom: 5px;
}

.login-label {
    font-family: Oxygen, sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding-left: 5px;
    
}

label {
    padding-right: 10px;
}

.login-input {
    height: .6em;
    border-radius: 3px;
    border: 1px solid var(--blue_theme);
    transition: border 0.4s ease-out;
    padding: 13px;
    margin: 10px 0;
    font-family: Oxygen, sans-serif;
    font-size: 16px;
    color: #3e3e42;
    background: rgba(15, 15, 15, 0.01);
}

.login-input :nth-child(2) {
    margin-left: 10px;
}

.login-input:hover {
    border: 2px solid var(--blue_theme);
}

.login-input:focus {
    border: 2px solid #6565e7;
    box-shadow: 0px 0px 20px rgba(15, 15, 15, 0.2);
}

.login-input::placeholder {
    font-family: Oxygen, sans-serif;
    font-size: 16px; 
    color: rgba(15, 15, 15, 0.4);
}

.login-btn {
    padding: 2px 30px;
    /* background-color: #417cef; */
    border: 0;
    font-size: 18px;
    border-radius: 3px;
    font-family: Oxygen, sans-serif;
    background-color: rgba(15, 15, 15, 0.03);
    margin-top: 20px;
    margin-bottom: 15px;
    border: 2px solid #417cef;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
}

.login-btn:hover,
.login-btn:focus {
    background-color: #417cef;
    color: white;
}

.danger-error {
    color: #e74c3c;
    font-size: 16px;
}

.password-state {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.pwd {
    height: 6px;
    flex: 1;
    visibility: hidden;
}

.pwd-weak {
    background-color: #e74c3c;
}

.pwd-medium {
    background-color: #3498db;
}

.pwd-strong {
    background-color: #2ecc71;
}

.show {
    visibility: visible;
}

@media only screen and (min-width: 768px) {

    .inner-container {
        margin-left: 200px;
    }

}