.event-container {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 500px;
    height: 300px;
    background: #fff;
    border: 1px solid skyblue;
    color: #727272;
    padding: 20px;
    
}

#event-table {
    margin: auto;
    border-spacing: 20px;
    
}

#event-table tr td {
    text-align: left;
}


.commit-btn {
    background:#4DB8AD;
    border-radius: 15px;
    border: none;
    color: #fff;
    cursor: pointer;
    outline: none;
    padding: 10px 15px;
}

.commit-btn:hover {
    background: rgb(60, 219, 203);
  }